# Configuración general de producción
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=define-una-clave-larga-y-privada
DJANGO_ALLOWED_HOSTS=tudominio.com,www.tudominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://tudominio.com,https://www.tudominio.com
